.main-component {
  background-color: #242a41;
  height: fit-content;
}
.mini-component {
  display: flex;

  justify-content: space-between;

  padding: 8rem 3rem 0rem 6rem;
}

@media screen and (max-width: 600px) {
  .mini-component {
    flex-direction: column;
    padding: 8rem 0rem 0rem 0rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .mini-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 8rem 0rem 0rem 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1450px) {
  .mini-component {
    display: flex;

    justify-content: space-between;

    padding: 8rem 3rem 0rem 2.8rem;
  }
}
