.left-main-box {
  height: 30rem;
  width: 45%;
  margin-top: 6rem;
  padding: 2rem;
  margin-right: 2rem;
}
.left-heading {
  font-size: 3rem;
  line-height: 1;
  color: #fff;
}
input {
  padding: 1.3rem;
  background-color: #7c7f8d;
  border: none;
  border-radius: 1rem;
}
.left-button-box {
  display: flex;
}

@media screen and (max-width: 600px) {
  .left-main-box {
    height: fit-content;
    width: 100%;
    margin-top: 5rem;
    padding: 2rem 4rem 10rem 4rem;
    margin-right: 0rem;
  }

  .left-button-box {
    margin-top: 0rem;
    flex-direction: column;
  }
  .left-heading {
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .left-main-box {
    height: fit-content;
    width: 100%;
    margin-top: 5rem;
    padding: 2rem 5rem 6rem 4rem;
    margin-right: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1450px) {
  .left-main-box {
    height: 30rem;
    width: 40%;
    margin-top: 5.5rem;
    padding: 0rem;
    margin-right: 1rem;
  }
}
