.download-btn {
  background-color: #8b53c4;
  border-radius: 40px;
  text-align: center;
}

.pagination-box {
  height: 5rem;
}

@media screen and (max-width: 57px) {
  .download-btn {
    background-color: #8b53c4;
    border-radius: 40px;
    text-align: center;
  }
}
